header
  ul 
    li
      a(href="/") #{l.home}
    li 
      a(href="/login") #{l.login}
    li
      a(href="/register") #{l.register}
    li.langBtn
      a(href="?lang=uz") Uz  
      a(href="?lang=ru") Rus  
      a(href="?lang=en") Eng  