extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/register" method='POST') 
      label(for="name") Name
      input(type="name" name="name" placeholder="Name...")
      label(for="email") Email
      input(type="email" name="email" placeholder="Email...")
      label(for="password") Password
      input(type="password" name="password" placeholder="Password...")
      input(type="submit")