extends layout

block content
  h1= title
  p Welcome to #{title}
  if errors 
    each error, i in errors
      h2 #{error.msg}
  form(action="/register" method='POST') 
    label(for="name") Name
    input(type="name" name="name" placeholder="Name...")
    label(for="email") Email
    input(type="text" name="email" placeholder="Email...")
    //- errors > password param > p.red = error.msg
    label(for="password") Password
    input(type="password" name="password" placeholder="Password...")
    label(for="confirmPassword") confirmPassword
    input(type="confirmPassword" name="confirmPassword" placeholder="confirmPassword...")
    input(type="submit") 
      //- if (errors.map(error => error.param === "email"))
      //- if (error.has())