.top
    i.fa-solid.fa-bars.sidebar-toggle
    .search-box
        input(type='text' placeholder='Search here...')
        i.fa-solid.fa-magnifying-glass
    img.btn(src='../images/user11.png' alt='' onclick='toggleMenu()')
    #subMenu.sub-menu-wrap
        .sub-menu
            .user-info
                img(src='../images/user11.png' alt='')
                h1.user User
            hr
            a.sub-menu-link(href='/admin/edit')
                i.fa-solid.fa-pen
                p Edit Profile
                span &gt;
            a.sub-menu-link(href='/admin/settings')
                i.fa-solid.fa-gear
                p Settings &amp; Privacy
                span &gt;
            a.sub-menu-link(href='/admin/help')
                i.fa-solid.fa-circle-info
                p Help &amp; Support
                span &gt;
            a.sub-menu-link(href='/')
                i.fa-solid.fa-right-from-bracket
                p Logout
                span &gt;

