nav
    .logo-name
        .logo-image
            img(src='./images/logo.webp' alt='')
        .logo_name Ko'ppaklar.com
    .menu-items
        ul.nav-links
            li
                a(href='#')
                    i.fa-solid.fa-house
                    span.link-name Yetim Xona
            li
                a(href='#')
                    i.fa-solid.fa-file
                    span.link-name Hojat Xona
            li
                a(href='#')
                    i.fa-solid.fa-chart-line
                    span.link-name Tualet Xona
            li
                a(href='#')
                    i.fa-regular.fa-thumbs-up
                    span.link-name Bumaga.com
            li
                a(href='#')
                    i.fa-regular.fa-comments
                    span.link-name Gapirma.com
            li
                a(href='#')
                    i.fa-solid.fa-share-from-square
                    span.link-name ShildirXona.com
        ul.logout-mode
            li
                a(href='#')
                    i.fa-solid.fa-arrow-right-from-bracket
                    span.link-name Log Out
            li.mode
                a(href='#')
                    i.fa-solid.fa-moon
                    span.link-name Dark Mode
                .mode-toggle
                    span.switch
