nav
    .logo-name
        .logo-image
            img(src='../images/logo.png' alt='')
        .logo_name CarsFerm
    .menu-items
        ul.nav-links
            li
                a(href='/admin')
                    i.fa-solid.fa-house
                    span.link-name Asosiy
            li
                a(href='/admin/product')
                    i.fa-solid.fa-bolt
                    span.link-name Mahsulotlar
            //- li
            //-     a(href='#')
            //-         i.fa-solid.fa-chart-line
            //-         span.link-name Diagrammamiz
            //- li
            //-     a(href='#')
            //-         i.fa-regular.fa-thumbs-up
            //-         span.link-name Likes
            //- li
            //-     a(href='#')
            //-         i.fa-regular.fa-comments
            //-         span.link-name Comments 
            //- li
                a(href='#')
                    i.fa-solid.fa-share-from-square
                    span.link-name Sharie
        ul.logout-mode
            li
                a(href='/')
                    i.fa-solid.fa-arrow-right-from-bracket
                    span.link-name Log Out
            li.mode
                a(href='#')
                    i.fa-solid.fa-moon
                    span.link-name Dark Mode
                .mode-toggle
                    span.switch
